#main-toolbar #activity-button {
  background-color: blue ;
  background-image: url(../activity/activity-icon.svg);
}
body{
	text-align: center;
}
#canvas{
	background-color: #5F9EA0;
}
#score{
	color:white;
	text-align: left;
}
div{
	font-size: 150%;
}
#my-button{
	color:yellow;
}
butt
h1{
	font-size: 200%;

}